.ovh-public-cloud-app .oui-button:disabled, .ovh-public-cloud-app .oui-button:disabled:hover, .ovh-public-cloud-app .oui-button:disabled:focus {
  background-color: white;
  border: 0;
  color: #d5d7dc;
}

.chart {
  height: 150px;
}

.chart__container {
  width: 100%;
  height: 150px;
  display: block;
}
